.DS_Store
*.swp
*~.nib
build/
DerivedData/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata/
*.xcuserdatad/
.*~
*.*~
Blipboard/Blipboard-Devel.plist
Blipboard.xcodeproj/project.xcworkspace/
\#*.*\#
\#*\#
Blipboard/Classes/Application/BlipboardContext.h
Blipboard/Classes/Application/BlipboardContext.m
Blipboard/Classes/Application/AlertContext.h
Blipboard/Classes/Application/AlertContext.m
Archives/
.idea/.name
.idea/blipboard-ios5.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/Blipboard_Alpha.xml
.idea/runConfigurations/Blipboard_Beta.xml
.idea/runConfigurations/Blipboard_Debug.xml
.idea/runConfigurations/Blipboard_Release.xml
.idea/runConfigurations/Integration_Tests.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
Pods
Blipboard.xccheckout
