//
//  Localhost.xcconfig
//  Blipboard
//
//  Created by Aneil Mallavarapu on 4/18/13.
//  Copyright (c) 2013 Blipboard. All rights reserved.
//
#include "Shared.xcconfig"

BUNDLE_NAME=BB Alpha
APP_ID=${STAGING_APP_ID}
BUNDLE_SEED_ID=${STAGING_BUNDLE_SEED_ID}
API_URLS="http:\/\/localhost:3000"
FB_APP_ID=${FACEBOOK_STAGING_APP_ID}
FB_REDIRECT=fb${FACEBOOK_STAGING_APP_ID}
URBANAIRSHIP_USERNAME=${URBANAIRSHIP_WHISTLE_DEV_USERNAME}
URBANAIRSHIP_PASSWORD=${URBANAIRSHIP_WHISTLE_DEV_PASSWORD}
URBANAIRSHIP_NAMESPACE=localhost.
LOGGER_TARGET="$(USER)"
INTERCOM_APP_ID="${INTERCOM_STAGING_APP_ID}"
INTERCOM_API_KEY="${INTERCOM_STAGING_API_KEY}"
FLURRY_API_KEY="${FLURRY_STAGING_API_KEY}"	